.contact-message{
  height: 10%;
  text-align: center;
}
.contact-form{
  height: 90%;
}
input, textarea {
  float: left;
  height: 30%;
  width: 100%;
  max-width: 100%;
  border: none;
  margin: 0.5rem 0;
  padding: 1rem;
  border-radius: 0.3rem;
  background: darken(#f9f9f9, 10%);
  color: darken(#f9f9f9, 50%);
  font-size: 1rem;
}
textarea {
  height: 10rem;
}

button{
  background: rgb(229, 229, 153);
  height: 2.5rem;
  width: 5.5rem;
  float: right;
  margin: 1rem;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
}
button:hover{
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
  transform: translateY(-0.1875em);
}

.contact-form {
  height: 80%;
  width: 50%;
  margin: auto;
}

@media(max-width:959px){
  .contact-form{
    width: 80%;
  }
  button{
    width: 40%;
  }
}


@media(max-width:559px){
  .contact-form{
    width: 90%;
  } 
  button{
    width: 90%;
  }
}