.portfolio-main{
  height: auto;
  padding: 0 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 40%;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, .16);
  text-decoration: none;
  margin-bottom: 4rem;
}
.card-header {
  display: flex;
  flex-wrap: wrap;
}
.card-title {
  padding: 1rem 1rem 0;
  font-size: 1.25rem;
  order: 1;
}
.card-thumbnail {
  margin: 0;
  order: 0;
}
.card-image {
  width: 100%;
}

.card-body {
  padding: 1rem;
}
.card-text {
  font-size: 0.8rem;
  line-height: 1.5;
}
.card-language{
  font-size: 0.5rem;
  margin-top: .5rem;
  line-height: 1.2;
}

.card-footer {
  padding: 0.5rem 2rem;
  border-top: 1px solid #ddd;
  text-align: center;
}
.github-link{
  padding-top: 0.5rem;
}

.card-skin{
  overflow: hidden;
  border-radius: 8px;
  border-left: solid 1px #ddd; 
  border-right: solid 1px #ddd; 
  border-bottom: solid 5px #888; 
}

@media(max-width:959px){
  .card{
    width: 100%;
  } 
}

